extend layout

block style
	link(rel="stylesheet", href="/assets/styles/app.css")/
	
block javascript
	script(src="/assets/js/app.core.js")
	script(src="/assets/js/app.js")

block content
	div(class="container")
		div(id="main-content")
			
			
		div(id="menu", class="ui segment")
			div(id="online", class="ui green label large") 5
			div(class="ui selection list")
				div(class="item")
					img(class="ui avatar image", src="http://i.imgur.com/VAaWbxZ.png")
					div(class="content")
						div(class="header") EmiiilK
				
				div(class="item")
					img(class="ui avatar image", src="http://i.imgur.com/VAaWbxZ.png")
					div(class="content")
						div(class="header") EmiiilK
						
				div(class="item")
					img(class="ui avatar image", src="http://i.imgur.com/VAaWbxZ.png")
					div(class="content")
						div(class="header") EmiiilK
						
				div(class="item")
					img(class="ui avatar image", src="http://i.imgur.com/VAaWbxZ.png")
					div(class="content")
						div(class="header") EmiiilK