extends layout

block content
	form(action="/action/create", method="POST")
		input(type="text", placeholder="username", name="username")/
		input(type="text", placeholder="username (optional)", name="email")/
		input(type="password", placeholder="password", name="password")/
		input(type="password", placeholder="password again", name="password_again")/
		input(type="hidden", value="#{token}", name="session_token")/
		input(type="text", value="", style="display: none;", name="auth_cookie")/
		input(type="submit", value="Create", name="submit")/