doctype 5
html(lang="en")
	head
		meta(charset="utf-8")
		block meta
		
		title #{title}
		
		link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.11.0/css/semantic.min.css")/
		link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Open+Sans:400,300,700,400italic")/
		link(rel="stylesheet", href="/assets/styles/base.css")/
		block style
		
		script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.11.0/packaged/javascript/semantic.min.js")
		block javascript
		
	body
		block content