* {
	margin: 0px;
	padding: 0px;
}
body {
	font-family: "Open Sans";
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
a {
	
<<<<<<< HEAD
}

.clear {
	clear: both;
=======
>>>>>>> 0c6213d27a85c7c7bbc9160d0eb4601a52f0695f
}